<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-container__form">
    <div class="login-container__language">
      <app-language-selector></app-language-selector>
    </div>
    
    <h2 class="login-container__title">{{ 'LOGIN.TITLE' | translate }}</h2>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
    <app-form-error [control]="loginForm.get('email')"></app-form-error>

    <mat-form-field
      appearance="fill"
      *ngIf="loginForm.get('email')?.value && loginForm.get('email')?.valid"
    >
      <mat-label>{{ 'LOGIN.CONFIRM_EMAIL' | translate }}</mat-label>
      <input matInput formControlName="patternEmail" type="email" />
    </mat-form-field>
    <app-form-error
      *ngIf="loginForm.get('email')?.value && loginForm.get('email')?.valid"
      [control]="loginForm.get('patternEmail')"
    ></app-form-error>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <app-form-error [control]="loginForm.get('password')"></app-form-error>

    <button
      class="login-container__button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      {{ 'LOGIN.BUTTON' | translate }}
    </button>
  </form>
</div>
